body {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    overflow: hidden;
}

.menu {
    position: fixed;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 5px 15px -4px rgba(0, 0, 0, 0.25);
		z-index: 100;
}

.section {
    height: 100vh;
    max-height: 500px;
}

.menu:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4px;
    background-color: #7e5c88;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1120px;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding-left: 160px;
}

.menu-items__item {
    height: 100%;
    width: 100%;
}

.menu-items__item .menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: #979797;
    font-family: "Georgia", serif;
    transition: background-color 350ms ease, color 350ms ease;
}

.menu-items__item .menu-link:hover {
    background-color: #7e5c88;
    color: white;
}

.section-hero {
    width: 100%;
    padding-top: 110px;
}

.left {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.left-title {
    font-size: 46px;
    color: #333;
    margin-bottom: 10px;
}

.left-description {
    font-size: 14px;
    color: #979797;
    line-height: 1.4;
    margin-bottom: 24px;
    padding-right: 120px;
}

.left-button {
    padding: 10px;
    color: white;
    background-color: #7e5c88;
    border-radius: 20px;
    width: 160px;
    outline: none;
    border: 1px solid #7e5c88;
    cursor: pointer;
    transition: background-color 350ms ease, color 350ms ease;
}

.left-button:hover {
    background-color: white;
    color: #7e5c88;
}

.right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .item {
    width: 380px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #333;
    border: 22px solid #7e5c88;
}

.right .item-text {
    color: white;
}

.section-projects {
    width: 100%;
}

.content {
    width: 100%;
}

.content .title {
    font-size: 20px;
    color: rgb(51, 51, 51);
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
    padding-bottom: 10px;
    margin-right: 40px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    height: 300px;
    width: 220px;
    margin: 10px 0;
    cursor: pointer;
}

.grid-item:hover .grid-item__top {
    background-color: #7e5c88;
}

.grid-item:hover .grid-item__top span {
    color: white;
}

.grid-item:hover .grid-item__bottom {
    background-color: #7e5c88;
}

.grid-item:hover .grid-item__bottom span {
    color: white;
}

.grid-item__top {
    height: 15%;
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 350ms ease, color 350ms ease;
}

.grid-item__top span {
    color: #333;
}

.grid-item__center {
    height: 70%;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item__center span {
    color: white;
}

.grid-item__bottom {
    height: 15%;
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 350ms ease, color 350ms ease;
}

.grid-item__bottom span {
    color: #333;
}

.section-blog .grid-wrapper {
    width: 70%;
    padding-right: 6px;
}

.section-blog .grid {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.section-blog .list-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-left: 6px;
}

.section-blog .list-wrapper .title {
    margin-right: 0;
}

.section-blog .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-wrapper {
    display: flex;
}

.section-blog .grid-item {
    max-width: 220px;
    margin: 10px 0;
    cursor: pointer;
}

.section-blog .list-item {
    display: flex;
    margin: 12px 0;
    position: relative;
}

.list-item:not(:last-child):after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
    left: 0;
    bottom: -10px;
}

.section-blog .list-item h3 {
    margin: 0;
    font-size: 14px;
    color: #979797;
}

.section-blog .list-item__description {
    font-size: 14px;
    margin: 4px 0;
    color: #979797;
}

.section-blog .list-item-left {
    width: 25%;
}

.section-blog .list-item-right {
    width: 75%;
}

.section-blog .list-item__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-blog .list-item .list-item__link {
    color: #7e5c88;
    text-decoration: none;
    font-size: 12px;
}

.section-blog .list-item .list-item__image {
    width: 60px;
    height: 60px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    outline: 1px solid #d8d8d8;
}

.section-blog .list-item .list-item__image span {
    color: white;
    text-align: center;
}

.section-blog .grid-item__image {
    width: 100%;
    height: 125px;
    background: #333;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.section-blog .grid-item__title {
    color: #7e5c88;
    margin: 0;
    font-size: 20px;
}

.section-blog .grid-item__date {
    font-size: 14px;
    color: #979797;
    line-height: 1.4;
}

.section-blog .grid-item__description {
    font-size: 14px;
    color: #979797;
    line-height: 1.4;
}

.main-footer {
    width: 100%;
    height: 480px;
    border-top: 1px solid #e0e0e0;
}

.main-footer .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main-footer .content-top {
    display: grid;
    grid-gap: 0 40px;
    grid-template-columns: repeat(4, 1fr);
}

.main-footer .content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
}

.main-footer .column-title {
    color: #979797;
    text-transform: uppercase;
}

.main-footer .column-content {
    display: flex;
    flex-direction: column;
}

.main-footer .column-content .column-content__title {
    color: #979797;
    font-size: 18px;
    margin-bottom: 6px;
}

.main-footer .column-content .column-content__subtitle {
    color: #979797;
}

.main-footer .column-content .column-content__text {
    color: #979797;
    margin-bottom: 0;
}

.main-footer .column-content .column-content__link {
    color: #7e5c88;
    text-decoration: none;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
    margin-top: 2px;
    display: flex;
    align-items: center;
}

.main-footer .column-content__link:hover .icon {
    background-color: #7e5c88;
}

.main-footer .column-content .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #c3c3c3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: background-color 350ms ease;
}

.main-footer .column-content .column-content__readmore {
    color: #7e5c88;
    text-align: right;
    text-decoration: none;
    margin-top: 16px;
}

.main-footer .content-bottom .copyright {
    color: #979797;
}
